<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse</title>
    <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="./debug.css"> -->
    <style>
        /* ! debug.css | MIT License | zaydek.github.com/debug.css */
        /* :not(path):not(g) {
            color:                    hsla(210, 100%, 100%, 0.9) !important;
            background:               hsla(210, 100%,  50%, 0.4) !important;
            outline:    solid 0.25rem hsla(210, 100%, 100%, 0.4) !important;

            box-shadow: none !important;
        } */

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
    <!-- navbar -->
    <div class="section navbar is-primary">
        <div class="navbar-start">
            <div class="navbar-item">
                Logo Image
            </div>
        </div>
        <!-- search bar -->
        <div class="container navbar-item">
            <form class="tile field has-addons">
                <div class="control is-expanded">
                    <input 
                        class="input"
                        name="term"
                        type="text"
                        placeholder="What are you looking for?"
                        id="term"
                    />
                </div>
                <div class="control">
                    <button class="button is-info" onClick={props.handleFormSubmit}>
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                Home
            </div>
            <div class="navbar-item">
                Profile
            </div>
            <div class="navbar-item">
                <div class="burger">
                    Burger
                </div>
            </div>
        </div>
    </div>
    <!-- navbar end -->
    <br>
    <div class="container">
        <div class="tabs is-medium">
            <ul>
              <li class="is-active"><a href="./Profile.html">Profile</a></li>
              <li><a href="./Rental.html">Rentals</a></li>
              <li><a href="./Request.html">Listings</a></li>
              <li><a href="./Return.html">Returns</a></li>
            </ul>
        </div>
    </div>
    <!-- important to make sure sections are denoted by tag as well as class -->
    <section class="section">
        <div class="container">
            <div class="box">
                <div class="title">Username: CrowMama</div>
                <br>
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="">
                </figure>
                <br>
                <div class="content">
                    <div class="title is-5">Name: Sugawara Kochi
                    </div>
                    <div class="title is-5">Location: Miyagi, Japan</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>