nav {
    height: 50px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: green;
    color: white;
    /* padding: 5px 20px; */
    /* align-items: flex-end; */
}

.nav-login {
    margin-top: 15px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
}

.dark button a {
    color: #4a4a4a;
}

p {
    color: #ffffff;
}

:hover {
    color: #4a4a4a;
}

@media screen and (max-width: 1023px) {
    .navbar {
      display: flex;
      flex-wrap: wrap;
    }
    .navbar-brand {
      min-width: 100%;
    }
    .navbar-menu {
      margin-left: auto;
      min-width: 25%;
    }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .navbar-brand {
    min-width: 100%;
  }
  .navbar-menu {
    margin-left: auto;
    min-width: 50%;
  }
}
