.item-form{
    min-width: 1500px;
    max-width: 75%;
    min-height: 750px;
    box-shadow: black 3px 5px 50px 5px;
    border: solid green 5px;
    background-color: gray;
    /* mix-blend-mode: multiply; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.item-input {
    text-align: center;
    width: 50%;
    height: 5%;
    min-height: 35px;
    margin-bottom: 2%;
    background-color: white;
    background-blend-mode: normal;
    font-size: 20px;
    border-radius: 20px;
    border: solid green 2px;
    box-shadow: black 2px 3px 10px 2px;
}

.item-form select {
    text-align: center;
    background-color: lightgrey;
    min-height: 50px;
    min-width: 200px;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 3px 10px 2px;
    margin-bottom: 2%;
    padding: 5px;
}

.item-form select:focus {
    border-radius: 20px 20px 0px 0px;
}

.item-form button {
    min-height: 50px;
    min-width: 150px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 10px 2px;
    transition: transform 250ms ease-in,  border 250ms ease-in
}

.item-form button:hover{
    border: solid green 2px;
    transform: scale(1.1);
}