.item {
    width: fit-content;
    min-width: 175px;
    margin: 0px 5px;
    height: 224px;
} 
.item-image {
    display: block;
    max-width:128px;
    max-height:128px;
    width: auto;
    justify-content: center;
}
.item-figure {
    justify-content: center;
    height: 128px;
}
.item-section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 928px) {
    .mobile-font {
        font-size: 17px;
    }
    
}
