.listings-page {
    height: 100%;
    width: 100%;
    /* background: url('../../images/garagebg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y; */
    scroll-snap-align: center;
}

label{
    color: white;
}

input{
    min-width: 20%;
}

.content{
    position: fixed;
    list-style: none;
}

.carousel{
    max-width: 1550px;
    position: relative;
}

.carousel-item{
    transition: transform 250ms ease-in;
    background-color: rgb(241, 238, 238);
}

.carousel-item:hover{
    transform: scale(1.05);
}

.section {
    max-width: 100%;
    padding-right: 50px;
}
