.listings-page {
    height: 100%;
    width: 100%;
    /* background: url('../../images/garagebg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y; */
    /* scroll-snap-align: center; */
}

label{
    color: black;
}

input{
    min-width: 20%;
}

.content{
    position: fixed;
    list-style: none;
}

.carousel{
    max-width: 1550px;
    position: relative;
    text-align: center;
}

.carousel h1 {
    font-size: 40px;
    /* margin: 40px 60px; */
    margin: 60px 0px 60px 100px;
    /* min-height: 200px; */
}

#filters{
    list-style: none;
}

.carousel-item{
    transition: transform 250ms ease-in;
    background-color: rgb(241, 238, 238);
}

.carousel-item:hover{
    transform: scale(1.05);
}

.section {
    max-width: 100%;
    padding-right: 50px;
}
