.title{
    position: relative;
}

.link-offset{
    position: absolute;
    top: -500px;
}

.scroll-btn{
    position: absolute;
    top: 175px;
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    border-style: solid;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding: calc(.375em - 1px) .75em;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
}

.scroll-left{
    left: 0px;
}

.scroll-right{
    right: 0px;
}