.listings-page {
    height: 100%;
    width: 100%;
    /* background: url('../../images/garagebg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y; */
    /* scroll-snap-align: center; */
}

/* label{
    color: black;
}

input{
    min-width: 20%;
} */

.sidebar{
    list-style: none;
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 790px) {
    /* Styles */
    .sidebar {
        position: fixed;
    }
    .mobilebar {
        display: none;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .sidebar {
        display: none;
    }
    .carousel {
        max-width: 700px;
    }
    
}

.carousel{
    max-width: 1550px;
    /* position: relative; */
    text-align: center;
    overflow: scroll;
    overflow-y: hidden;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.carousel h1 {
    font-size: 25px;
    /* margin: 40px 60px; */
    margin-top: 60px;
    margin-bottom: 60px; 
    margin-left: auto;
    margin-right: auto;
    /* min-height: 200px; */
}

#filters{
    list-style: none;
}

.carousel-item{
    transition: transform 250ms ease-in;
    /* background-color: rgb(241, 238, 238); */
    margin-right: 15px;
}

.carousel-item:hover{
    transform: scale(1.05);
}

.section {
    max-width: 100%;
    padding-right: 50px;
}

.scroll {
    margin-top: 88px;
}

.notification .orange{
    background-color: hsl(22, 100%, 61%);
}